
p {
    width: 1000px;
}

.relative {
    position: relative;
    top: 30px;
    left: 30px;
    height: 120px;
    margin-bottom: 20px;
}

.absolute {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 120px;
}

.fixed {
    position: fixed;
    left: 450px;
    bottom: 0;
    height: 120px;
}

.totop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 50px;
}

