
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey
}

ul {
    list-style-type: none;
    background-color: orange;
    margin: 10px;
    padding: 10px;
}

li {
    display: inline-block;
    position: relative;
    margin: 5px;
    padding: 5px;
}

li:active {
    background-color: darkgray;
}

li:hover {
    background-color: lightgrey;
}

li ul {
    display: none;
    position: absolute;
    top: 28px;
    left: 0;    
    width: 180px;
    margin: 0;
    padding: 0;
    background-color: white;
}

li:hover ul {
    display: block; 
}

li ul li {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px;
}