<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <div>
        <h3>Position</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fugit, voluptate asperiores hic ullam,
            reprehenderit dolore, ipsam nulla dolorum itaque aliquam repudiandae culpa enim? Molestias itaque sequi
            deserunt eaque praesentium repellat, dolorem quas necessitatibus architecto, quisquam neque quis ipsum
            labore est ipsa laborum? Maiores delectus quaerat est mollitia quisquam iste?</p>
        <div>
            <img class="relative" src="./cat.jpg" alt="img">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fugit, voluptate asperiores hic ullam,
            reprehenderit dolore, ipsam nulla dolorum itaque aliquam repudiandae culpa enim? Molestias itaque sequi
            deserunt eaque praesentium repellat, dolorem quas necessitatibus architecto, quisquam neque quis ipsum
            labore est ipsa laborum? Maiores delectus quaerat est mollitia quisquam iste?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fugit, voluptate asperiores hic ullam,
            reprehenderit dolore, ipsam nulla dolorum itaque aliquam repudiandae culpa enim? Molestias itaque sequi
            deserunt eaque praesentium repellat, dolorem quas necessitatibus architecto, quisquam neque quis ipsum
            labore est ipsa laborum? Maiores delectus quaerat est mollitia quisquam iste?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fugit, voluptate asperiores hic ullam,
            reprehenderit dolore, ipsam nulla dolorum itaque aliquam repudiandae culpa enim? Molestias itaque sequi
            deserunt eaque praesentium repellat, dolorem quas necessitatibus architecto, quisquam neque quis ipsum
            labore est ipsa laborum? Maiores delectus quaerat est mollitia quisquam iste?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fugit, voluptate asperiores hic ullam,
            reprehenderit dolore, ipsam nulla dolorum itaque aliquam repudiandae culpa enim? Molestias itaque sequi
            deserunt eaque praesentium repellat, dolorem quas necessitatibus architecto, quisquam neque quis ipsum
            labore est ipsa laborum? Maiores delectus quaerat est mollitia quisquam iste?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fugit, voluptate asperiores hic ullam,
            reprehenderit dolore, ipsam nulla dolorum itaque aliquam repudiandae culpa enim? Molestias itaque sequi
            deserunt eaque praesentium repellat, dolorem quas necessitatibus architecto, quisquam neque quis ipsum
            labore est ipsa laborum? Maiores delectus quaerat est mollitia quisquam iste?</p>
        <img class="absolute" src="./cat.jpg" alt="img">
        <img class="fixed" src="./cat.jpg" alt="img">
        <img class="totop" src="./totop.png" alt="img">

    </div>
</body>

</html>