body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

div {
    width: 960px;
    margin: 0 auto;
}

#footer {
    background-color: rgb(11, 56, 114);
    clear: both;
    color: white;
    padding: 0 470px;
}

#nav {
    background-color: rgb(204, 44, 44);
    margin-bottom: 1px;
}

#nav:after {
    content: "";
    clear: both;
    display: block;
}

#nav li{
    display: inline;
    color: white;
    float: right;
    padding: 5px 10px;
}

img{
    width: 100%;  
}

#list{
background-color: rgb(223, 148, 51);
width: 270px;
float: right;
padding: 20px 10px;
margin: 2px;
}

#list li  {
border-bottom: 1px solid;
list-style: none;
padding: 10px;
}

.post {
float: left;
width: 300px;
margin: 10px;
}

.post:nth-of-type(3){
    clear: left;
}

